* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: lighten($secondary-color, 30%);
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
